DB_HOST=localhost
DB_PORT=5432
DB_NAME=sian_kaan_reservaciones
DB_USER=
DB_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=8h
WHATSAPP_VERIFY_TOKEN=ADQA44Q4Q
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_GRAPH_API_VERSION=
FAREHARBOR_BASE_URL=https://demo.fareharbor.com/api/external/v1
FAREHARBOR_APP_KEY=
FAREHARBOR_USER_KEY=
FAREHARBOR_COMPANY_SHORTNAME=
FAREHARBOR_WEBHOOK_KEY=
